.title {
  margin-top: 20px; /* Adjust the value as needed */
  font-family: 'Old Standard TT', Helvetica, Arial, sans-serif, serif;
  
}


body {
    /* Background image */
    background-image: url(img/beatufulDoor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    /* Center content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    font-family: 'Old Standard TT', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
    
  }
  
#container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust the value as needed */
  }
  
#result {
    text-align: center;
    margin-bottom: 20px; /* Adjust the value as needed */
  }
  
.scenario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px; /* Add some margin to create space between the heading and the scenario content */
  }
  
.images {
  display: flex;
  margin-right: 40px;
}

.image-class {
    max-width: 200px; /* Adjust the value as needed */
    max-height: 200px; /* Adjust the value as needed */
    margin-right: 40px;
  }

  .button-class {
    /* Add your custom styles here */
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
  }