body {
    background-image: url(img/beatufulDoor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.image-class {
    max-width: 200px; /* Adjust the value as needed */
    max-height: 200px; /* Adjust the value as needed */
  }
  